select {
    min-width:100px;
}

.add {
    height:32px;
    float: right;
}

.required {
  font-weight: 600;
}

.title_text {
  margin-bottom: -10px;
  font-size: 1.6em;
  text-decoration: underline;
  font-weight: 300;
}

.whole_div_link { 
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
} 

html, body {
  height: 100%;
}

.inline_items {
  width: 100%;
}

a:active, a:hover, a:visited, a:link {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #343434;
}

.list_container, .entry_box {
  padding: 10px;
  background-color:rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  border-radius: 5px;
}

.list_container:hover {
  background-color:rgba(255, 255, 255, 0.25);
}

.item_name {
  font-size: 1.4em;
  display: inline-block;
  margin-left: auto;
  margin-right: 3%;
  vertical-align:top;
  width: 46%;
  margin-bottom: 5px;
}

.item_modified {
  font-size: 1.2em;
  text-align: right;
  display: inline-block;
  margin-left: 3%;
  margin-right: auto;
  width: 46%;
  vertical-align:top;
}

#new {
  position: absolute;
  right: 10px;
  top: 10px;
  float: right;
  font-size: .8em;
}

#back_to_parent {
  padding: 6px;
  border-radius: 5px;
  background: rgba(10,10,10,0.52);
  position: absolute;
  left: 10px;
  top: 5px;
  float: left;
  font-size: .6em;
}

#back_to_parent a:active, #back_to_parent a:hover, #back_to_parent a:visited, #back_to_parent a:link {
  color: #FFFFFF;
  border-bottom: none;
}

.item_description {
  width: 100%;
  word-wrap: break-word;
}

.title {
  color: #000000;
}

#title {
  color: #000000;
  margin-bottom: 15px;
  font-size: 1.8em;
  font-family: Open Sans;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

#message {
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

#header {
  position: relative;
  background: #483C3E;
  height: 50px;
  width: 100%;
  margin: 0px auto;
  font-size: 2em;
  font-family: Open Sans;
  color: #FFFFFF;
  font-weight: 700;
  box-shadow: inset 0px -4px 3px -2px rgba(10,10,10,0.52);
  z-index: 1;
  text-align: center;
}

body {
  margin:0px;
  background: #4D6A7C;
  font-family: Open Sans;
}

#centered_header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
}

#body {
  position: relative;
  background: #DFD1B7;
  min-height: calc(100% - 70px);
  height: auto;
  max-width: 750px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  z-index: 0;
  box-shadow: -1px 2px 6px 2px rgba(10,10,10,0.75);
}

.field_text {
  text-align: right;
  display: inline-block;
  margin-left: auto;
  margin-right: 3%;
  width: 47%;
  margin-bottom: 5px;
}

.form {
  display: inline-block;
  margin-left: 3%;
  margin-right: auto;
  width: 47%;
}

#new {
  position: absolute;
  right: 10px;
  top: 10px;
  float: right;
  font-size: .8em;
}

.products {
  text-align: right;
  display: inline-block;
  margin-left: auto;
  margin-right: 2%;
  max-width: 47%;
  margin-bottom: 5px;
}

.preparations {
  display: inline-block;
  margin-left: 2%;
  margin-right: auto;
  max-width: 47%;
}

.container {
  margin-top: -25px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  font-style: italic;
}

.products select, .preparations select , .preparations_inner select {
   background: #FFFFFF;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1;
   border-radius: 10;
   height: 32px;
}

.delete {
  margin-bottom: -10px;
}

.add button {
  margin-right: 10px;
  float: right;
}

.product_title {
  margin-bottom: 25px;
}

button {
  background-color: #483C3E;
  border: 2px solid #4A3F4E;
  color: #FFFFFF;
}

.save {
  width: 100%;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 15px;
}

.save button {
  font-size: 1.4em;
  margin: 10px;
}

#new_mobile {
  display: none;
}

div.delete {
  display: none;
}

@media (max-width: 700px) {
  .products select, .preparations select {
    width: 200px;
  }
}

@media (max-width: 600px) {
  .item_modified {
    display: none;
  }
  .item_name {
    width: 92%;
  }

  .parent_text {
    display: none;
  }

  #new {
    display: none;
  }

  #new_mobile {
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    float: right;
    font-size: .8em;
  }

  .field_text {
    text-align: left;
    display: block;
    margin-left: 15px;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .form {
    display: block;
    width: 100%;
    margin-left: 25px;
    margin-right: auto;
  }

  textarea {
    width: calc(100% - 40px);
  }



  .products {
    text-align: left;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    margin-bottom: 5px;
  }

  .preparations {
    display: block;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15px;
    width: 96%;
    border-bottom: 1px solid #ccc;
  }

  img.delete {
    display: none;
  }

  .product_preparations {
    width: 200%;
  }

  div.delete {
    float: right;
    margin-bottom: 10px;
    width: 200%;
    text-align: right;
    font-size: 0.8em;
    display: inline;
  }

  .products select, .preparations select {
     width: 100%;
  }
}
