{% extends 'base.html' %}
{{ state }}
{% block content %}
<form class='form' id='login' action='/login/' method='post'>
    <h4 class='light warning'>{{ state }}</h4>
    {% csrf_token %}
    {% if next %}
    <input type='hidden' name='next' value='{{ next }}' />
    {% endif %}
    <h3>Username:</h3>
    <input type='text' name='username'  value='{{ username }}' />
    <h3>Password:</h3>
    <input type='password' name='password'  value='' />

    <input class='submit' type='submit' value='Login' />
</form>
{% endblock content %}
