{% extends 'base.html' %}

{% load get_fieldname %}
{% block content %}
<div class='entry'>
    <a href='{% url 'list-vendors-edit' %}'>
        <h4>{{ theme|get_fieldname:'vendors' }}</h4>
    </a>
</div>

<div class='entry'>
    <a href='{% url 'entry-list-products' %}'>
        <h4>{{ theme|get_fieldname:'products' }}</h4>
    </a>
</div>

<div class='entry'>
    <a href='{% url 'entry-list-preparations' %}'>
        <h4>{{ theme|get_fieldname:'preparations' }}</h4>

    </a>
</div>

<div class='entry'>
    <a href='{% url 'entry-list-stories' %}'>
        <h4>{{ theme|get_fieldname:'stories' }}</h4>

    </a>
</div>

<div class='entry'>
    <a href='{% url 'entry-list-videos' %}'>
        <h4>{{ theme|get_fieldname:'videos' }}</h4>

    </a>
</div>


<div class='entry'>
    <a href='{% url 'entry-list-images' %}'>
        <h4>{{ theme|get_fieldname:'images' }}</h4>
    </a>
</div>


{% endblock %}
