<form action="{{ post_url }}" method="post" enctype="multipart/form-data" id="image-form" name="newImage">

    <div class="error" id="image_error">
        {% if image_form.errors or errors %}
        {% for error in image_form.errors %}
        <p class='warning'>Invalid {{ error|escape }}!</p>
        {% endfor %}
        {% for error in errors %}
        <p class='warning'>{{ error|escape }}</p>
        {% endfor %}
        {% endif %}
        <h4 id='error_tag' class='light warning'></h4>
    </div>

    {% csrf_token %}
    <div class="entry_box">
        {% if image_form.instance.pk != None %}
        <button class='dbutton' type="button" onclick="deleteImage();return false;"/>Delete</button>
        {% endif %}
        <h3>Basic Info</h3>
        {% if image_form.instance.pk != None %}
            <img src="{{ image_form.instance.image.url }}" class="image_embed" />
        {% endif %}
        <p class="field_text">Image*:</p>
        {{ image_form.image }}
        <p class="field_text">Name*:</p>
        {{ image_form.name }}
        <p class="field_text">Caption*:</p>
        {{ image_form.caption }}
        <button>Save</button>
    </div>
</form>
<script>  //This should not be required
</script>