{% extends 'base.html' %}

{% block header %}
<div class='back'>
    <a href='{{ parent_url }}'>
        &lt; <span class='parent_text'>{{ parent_text }}</span>
    </a>
</div>
{% endblock header %}

{% block title %}
<h2 class='light'>{{ title }}</h2>
<p class='light accent'>Click to edit | <span class="new"><a href='{{ new_url }}'>New {{ item_classification }}</a></span> | <span class="new"><a id="delete_toggle" onclick="startDelete();">Delete</a></span></p>
{% endblock title %}

{% block content %}
<div class='message'><h4 class='light accent'>{{ message }}</h4></div>
    <div class='list'>
    <form id="delete_list">
        <h4 id='error_tag' class='light warning'></h4>
        <button class='delete_button' type="button" onclick="deleteObjects();return false;" />Delete</button>
{% for item in item_list %}
<a class="list_item" href="{% url edit_url item.id %}">
        <div class='{{ item_classification }} '>
            <input type="checkbox" class="list_check" name="delete" value="{{ item.id }}">
        <p class='item'>{{ item.name }}</p>
        <div class='description'>
            <p>Description: {{ item.description }}</p>
        </div>
    </div>
</a>
<hr>
{% endfor %}
</form>
<div class="pagination">
    <span class="step-links">
        {% if item_list.has_previous %}
            <a href="?page={{ item_list.previous_page_number }}">&#9664; Previous</a>
        {% endif %}

        <span class="current">
            Page {{ item_list.number }} of {{ item_list.paginator.num_pages }}.
        </span>

        {% if item_list.has_next %}
            <a href="?page={{ item_list.next_page_number }}">Next &#9654;</a>
        {% endif %}
    </span>
</div>
    </div>
{% endblock content %}
{% block footer %}
<script>
    function deleteObjects()
    {
        if(confirm('Are you sure you want to delete these?')) {
            $.ajax({
                url: window.location.href + '/delete',
                data: $( "#delete_list" ).serialize(),
                type: 'DELETE',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                statusCode: {
                    404: function() {
                        $("#error_tag").text('Error: Could not delete!');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    },
                    200: function() {
                        window.location.replace(window.location.href + '?success=true');
                    }
                }
            });
        }
    }

function startDelete() {
    if( $('.delete_button').is(':visible') ) {
        $("#delete_toggle").text('Delete');
        $(".list_item").removeClass("disabled");
        $('.{{ item_classification }}').removeClass("selected");
        $(".list_check").css("display", "none");
        $(".delete_button").css("display", "none");
    }
    else {
        $(':checkbox:checked').prop('checked', false);
        $(".list_item").addClass("disabled");
        $("#delete_toggle").text('Cancel delete');
        $(".list_check").css("display", "inline");
        $(".delete_button").css("display", "inline");
    }
}

$('.list_item').click(function (e) {
  e.preventDefault();
  if ($(this).hasClass('disabled')) {
    checkbox_div = $(this).children('.{{ item_classification }}');
    $(checkbox_div).toggleClass("selected");
    checkbox = $(checkbox_div).children('.list_check');
    $(checkbox).prop('checked', !$(checkbox).prop('checked'));
  }
  else {
    window.location.href = $(this).attr('href');
  }
});
</script>
{% endblock %}