{% extends 'base.html' %}

{% block header %}
<div class='back'>
    <a href='{{ parent_url }}'>
        &lt; <span class='parent_text'>{{ parent_text }}</span>
    </a>
</div>
{% endblock header %}

{% block title %}
<h2 class='light'>{{ title }}</h2>
<p class='light accent'>Click on the {{ item_classification }} to edit it or add a <span class="new"><a href='{{ new_url }}'>{{ new_text }}</a></span></p>
{% endblock title %}

{% block content %}
<div class='message'><h4 class='light accent'>{{ message }}</h4></div>
    <div class='list'>
{% for item in item_list %}
<a href='{{ item.link }}'>
        <div class='{{ item_classification }} '>
        <p class='item'>{{ item.name }}</p>
        <div class='description'>
            <p>Description: {{ item.description }}</p>
        </div>
    </div>
</a>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
    </div>
{% endblock content %}
