{% extends "base.html" %}

{% load get_fieldname %}
{% block header %}
<div class="back">
    {% for p in parent_url %}
    <a href="{{ p.url }}">
        &lt; <span>{{ p.name }}</span>
    </a>
    {% endfor %}
</div>
{% endblock header %}

{% block title %}
<h2 class='light'>{{ title }}</h2>
<h4 class='light accent'>{{ message }}</h4>
{% endblock title %}

{% block content %}
{% load staticfiles %}
<form class='form' action="{{ post_url }}" method="post">
    {% if product_form.errors or errors %}
    <div class="error">
        {% for error in product_form.errors %}
        {% if error != "lat" and error != "long" %}
        <p class='warning'>Invalid {{ error|escape }}!</p>
        {% endif %}
        {% endfor %}
        {% for error in errors %}
        <p class='warning'>{{ error|escape }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h4 id='error_tag' class='light warning'></h4>
     {% if product_form.instance.pk != None %}
    <button class='dbutton' type="button" onclick="deleteProduct();return false;" />Delete</button>
    {% endif %}
    {% csrf_token %}
    <h3>Basic Info</h3>
   <p class="field_text">Specific Variety*:</p>
    {{ product_form.name }}
    <p class="field_text" >Product Name:</p>
    {{ product_form.variety }}
    <p class="field_text" >Alternate Name:</p>
    {{ product_form.alt_name }}
    <p class="field_text" >Origin:</p>
    {{ product_form.origin }}
    <p class="field_text" >Description*:</p>
    {{ product_form.description }}
    <p class="field_text" >Season*:</p>
    {{ product_form.season }}
    <p class="field_text" >Available?</p>
    {{ product_form.available }}
    <p class="field_text" >Market Price*:</p>
    {{ product_form.market_price }}
    <p class="field_text" >Link:</p>
    {{ product_form.link }}
    <p class="field_text" >Image:</p>
    {{ product_form.image }}
    <p class="field_text">Story:</p>
    {{ product_form.story }}
    <input class="preparations" name="preparations" type="hidden" />
    <div class="container">
        <h3>{{ 'preparations'|get_fieldname }}</h3>
        <button type="button" onclick="appendPreparation()">Add {{ 'preparations'|get_fieldname }}</button>
        {% if existing_preparations %}
        {% for prep in existing_preparations %}
        <div class="preparation">
            <select disabled id="existing{{ prep.id }}" class="preparation_select">
                <option value="{{ prep.id }}">{{ prep.name }}</option>
            </select>
            <a href="#" onclick="deletePreparation(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
        </div>
        {% endfor %}
        {% else %}
        <span class="no_preparations">No {{ 'preparations'|get_fieldname }} Yet!</span>
        {% endif %}
    </div>

    <div id="inline_preparation">  <!-- Div used if a new inline preparation submitted -->
    </div>

    <button type="submit" onclick="return createPopup('/entry/{{ 'products_slug'|get_fieldname }}/new/{{ 'preparations_slug'|get_fieldname }}/new/')">Add New
    {{ 'preparations'|get_fieldname }}</button>
    <div id="popup"></div>

    <input class='preparation' name="preparation_ids" type="hidden" />
    <div class="buttons">
        <button type="submit" onclick="setPreparationField();"/>Save</button>
    </div>
</form>
<!-- The template div used by appendPreparation() -->
<div id='new_preparation'>
    <div class="preparation">
        <select class="preparation_select">
            <option selected disabled></option>
            {% for preparation in preparation_dict.preparations %}
            <option value="{{ preparation.id }}">{{ preparation.name }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="deletePreparation(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
    </div>
</div>

{% endblock content %}
{% block footer %}
<script>

    var preparation_options = {{ json_preparations|safe }};

    number_of_preparations = 0;

    function createPopup(url) {
      $.ajax({
        type: "GET",
        url: url,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function(data) {

          $("#popup").html(data).dialog({modal:true}, {title: "New {{ 'preparations'|get_fieldname }}"}, {resizable: true}, {width: 'auto'}, {draggable: false}).dialog('open');
        }
      });
      return false;
    }


    $("#popup").on('submit', function (e) {

         e.preventDefault();

        $.ajax({
            type: "POST",
            url: '/entry/{{ 'products_slug'|get_fieldname }}/new/{{ 'preparations_slug'|get_fieldname }}/new',
            data: $("#popup-form").serialize(),
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function(data)
            {
                if (data.constructor === "test".constructor) {       // checks if the data is a string
                    $("#popup").html(data);
                    $('html, body').animate({
                        scrollTop: $("#preparation_error").offset().top - 100
                    }, 500);
                    return
                }

                $("#popup").dialog('close');
                var prepName = data.name;
                var prepId = data.id;

                $('#inline_preparation').append($('<div class="preparation">')
                .append($('<select disabled class="preparation_select">')
                .append($("<option>").attr("value", prepId)
                .text(prepName))).append('<a href="#" onclick="deletePreparation(this);return false;">\n<img class="delete" src="{% static 'delete.png' %}" /></a>'));

                $( ".preparation_select" ).append($("<option>").attr("value", prepId).text(prepName));
                $( ".no_preparations" ).hide();

            }
        });
    });


    function deletePreparation(element)
    {
        $( element ).parent().css("display", "none");
        if ($( ".preparation:visible" ).length === 0) {
            $( ".no_preparations" ).show();
        };
    }

    function deleteProduct()
    {
        if(confirm('Are you sure you want to delete this product?')) {
            $.ajax({
                type: 'DELETE',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                statusCode: {
                    404: function() {
                        $("#error_tag").text('Unable to delete product!');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    },
                    200: function() {
                        window.location.replace('{% with parent_url|last as last %}{{ last.url }}{% endwith %}/?success=true');
                    }
                }
            });
        }
    }

    function appendPreparation()
    {
        $( ".no_preparations" ).hide();
        var new_html = $('#new_preparation').html();
        var new_html = new_html.split("$iteration").join(number_of_preparations);
        $( ".container" ).append( new_html );
        number_of_preparations++;
    }
    function setPreparationField()
    {
        var preparation_ids = []
        $( ".preparation_select:visible" ).each( function( index, element ){
            preparation_ids.push(this.options[this.selectedIndex].value);
        });

        $('input[name="preparation_ids"]').val(preparation_ids);
    }
</script>
{% endblock footer %}
