{% extends "base.html" %}

{% block header %}
<div class="back">
    {% for p in parent_url %}
    <a href="{{ p.url }}">
        &lt; <span>{{ p.name }}</span>
    </a>
    {% endfor %}
</div>
{% endblock header %}

{% block title %}
<h2 class='light'>{{ title }}</h2>
<h4 class='light accent'>{{ message }}</h4>
{% endblock title %}

{% block content %}
{% load staticfiles %}
<form class='form' action="{{ post_url }}" method="post">
    {% if product_form.errors or errors %}
    <div class="error">
        {% for error in product_form.errors %}
        {% if error != "lat" and error != "long" %}
        <p class='warning'>Invalid {{ error|escape }}!</p>
        {% endif %}
        {% endfor %}
        {% for error in errors %}
        <p class='warning'>{{ error|escape }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <h4 id='error_tag' class='light warning'></h4>
     {% if product_form.instance.pk != None %}
    <button class='dbutton' type="button" onclick="deleteProduct();return false;" />Delete</button>
    {% endif %}
    {% csrf_token %}
    <h3>Basic Info</h3>
   <p class="field_text">Specific Variety*:</p>
    {{ product_form.name }}
    <p class="field_text" >Product Name:</p>
    {{ product_form.variety }}
    <p class="field_text" >Alternate Name:</p>
    {{ product_form.alt_name }}
    <p class="field_text" >Origin:</p>
    {{ product_form.origin }}
    <p class="field_text" >Description*:</p>
    {{ product_form.description }}
    <p class="field_text" >Season*:</p>
    {{ product_form.season }}
    <p class="field_text" >Available?</p>
    {{ product_form.available }}
    <p class="field_text" >Market Price*:</p>
    {{ product_form.market_price }}
    <p class="field_text" >Link:</p>
    {{ product_form.link }}
    <p class="field_text" >Image:</p>
    {{ product_form.image }}
    <p class="field_text">Story:</p>
    {{ product_form.story }}
    <input class="preparations" name="preparations" type="hidden" />
    <div class="container">
        <h3>Preparation</h3>
        <button type="button" onclick="appendPreparation()">Add Preparation</button>
        {% if existing_preparations %}
        {% for prep in existing_preparations %}
        <div class="preparation">
            <a href="#" onclick="deletePreparation(this);return false;"><img class="delete" src="{% static 'delete.png' %}" />Delete</a>
            <select disabled id="existing{{ prep.id }}" class="preparation_select">
                <option value="{{ prep.id }}">{{ prep.name }}</option>
            </select>
        </div>
        {% endfor %}
        {% else %}
        <span class="no_prep">No Preparations Yet!</span>
        {% endif %}
    </div>



    <button onclick="return popitup('/entry/products/new/preparations/new/?$')">Add New Preparation</button>
    <div id="dialog-form"></div>



    <input class='preparation' name="preparation_ids" type="hidden" />
    <div class="buttons">
        <button type="submit" onclick="setPreparationField();"/>Save</button>
    </div>
</form>
<!-- The template div used by appendPreparation() -->
<div id='new_preparation'>
    <div class="preparation">
        <select class="preparation_select">
            <option selected disabled></option>
            {% for preparation in preparation_dict.preparations %}
            <option value="{{ preparation.id }}">{{ preparation.name }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="deletePreparation(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
    </div>
</div>

{% endblock content %}
{% block footer %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" media="all" />
<script>
    var preparation_options = {{ json_preparations|safe }};

    number_of_preparations = 0;

    // Code for inline form starts


        function popitup(url) {
          $.ajax({
            type: "GET",
            url: url,
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            success: function(data) {
              $("#dialog-form").html(data).dialog({modal:true}, {title: "New Preparation"}, {width: 700}, {height: 700}, {draggable: false}).dialog('open');

            }

          });

          return false;
        }


        $("#dialog-form").submit(function() {

            $.ajax({
                   type: "POST",
                   url: '/entry/products/new/preparations/new',
                   data: $("#dialog-form").serialize(),
                   headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                   success: function(data)
                   {
                       alert("New Preparation saved.");
                   }
                 });

            return false; // avoid to execute the actual submit of the form.
        });



    // Code for inline form ends

    function deletePreparation(element)
    {
        $( element ).parent().css("display", "none");
        if ($( ".preparation:visible" ).length === 0) {
            $( ".no_products" ).show();
        };
    }

    function deleteProduct()
    {
        if(confirm('Are you sure you want to delete this product?')) {
            $.ajax({
                type: 'DELETE',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                statusCode: {
                    404: function() {
                        $("#error_tag").text('Unable to delete product!');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    },
                    200: function() {
                        window.location.replace('{% with parent_url|last as last %}{{ last.url }}{% endwith %}/?success=true');
                    }
                }
            });
        }
    }

    function appendPreparation()
    {
        $( ".no_preparations" ).hide();
        var new_html = $('#new_preparation').html();
        var new_html = new_html.split("$iteration").join(number_of_preparations);
        $( ".container" ).append( new_html );
        number_of_preparations++;
    }
    function setPreparationField()
    {
        var preparation_ids = []
        $( ".preparation_select:visible" ).each( function( index, element ){
            preparation_ids.push(this.options[this.selectedIndex].value);
        });

        $('input[name="preparation_ids"]').val(preparation_ids);
    }
</script>
{% endblock footer %}
