{% extends "base.html" %}

{% block header %}
<div class="back">
    {% for p in parent_url %}
    <a href="{{ p.url }}">
        &lt; <span class="parent_text">{{ p.name }}</span>
    </a>
    {% endfor %}
</div>
{% endblock header %}

{% block title %}
<h2 class='light'>{{ title }}</h2>
<h4 class='light accent'>{{ message }}</h4>
{% endblock title %}

{% block content %}
{% load staticfiles %}
<form action="{{ post_url }}" method="post">

    <div class="error">
        {% if story_form.errors or errors %}
        {% for error in story_form.errors %}
        <p class='warning'>Invalid {{ error|escape }}!</p>
        {% endfor %}
        {% for error in errors %}
        <p class='warning'>{{ error|escape }}</p>
        {% endfor %}
        {% endif %}
        <h4 id='error_tag' class='light warning'></h4>
    </div>

    {% csrf_token %}
    <div class="entry_box">
        {% if story_form.instance.pk != None %}
        <button class='dbutton' type="button" onclick="deleteStory();return false;"/>Delete</button>
        {% endif %}
        <h3>Basic Info</h3>
        <p class="field_text">Name*:</p>
        {{ story_form.name }}
        <p class="field_text">Overview:</p>
        {{ story_form.facts }}
        <p class="field_text">Management:</p>
        {{ story_form.season }}
        <p class="field_text">Fun Facts:</p>
        {{ story_form.history }}
        <p class="field_text">Buying Tips:</p>
        {{ story_form.buying }}
        <p class="field_text">Preparing:</p>
        {{ story_form.preparing }}
        <p class="field_text">Links:</p>
        {{ story_form.products }}

    <div class="image_container">
        <h3>Images</h3>
        <button type="button" onclick="appendImage()">Add Image</button>
        {% if existing_images %}
        {% for image in existing_images %}
        <div class="image">
            <select disabled id="existing{{ prep.id }}" class="image_select">
                <option value="{{ image.id }}">{{ image.name }}</option>
            </select>
            <a href="#" onclick="deleteImage(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
        </div>
        {% endfor %}
        {% else %}
        <span class="no_image">No Images Yet!</span>
        {% endif %}

    </div>

    <div id="inline_image">  <!-- Div used if a new inline image submitted -->
    </div>

    <button type="submit"  onclick="return popImage('/entry/stories/new/images/new/')">Add New Images</button>
    <div id="image-dialog"></div>

    <div class="video_container">
    <h3>Videos</h3>
    <button type="button" onclick="appendVideo()">Add Video</button>
    {% if existing_videos %}
    {% for video in existing_videos %}
    <div class="video">
        <select disabled id="existing{{ prep.id }}" class="video_select">
            <option value="{{ video.id }}">{{ video.name }}</option>
        </select>
        <a href="#" onclick="deleteVideo(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
    </div>
    {% endfor %}
    {% else %}
    <span class="no_video">No Videos Yet!</span>
    {% endif %}

    </div>

    <div id="inline_video">  <!-- Div used if a new inline video submitted -->
    </div>

    <button type="submit" id="newImage-btn" onclick="return popVideo('/entry/stories/new/videos/new/')">Add New Videos</button>
    <div id="video-dialog"></div>


    <input class='image' name="image_ids" type="hidden" />
    <input class='image' name="video_ids" type="hidden" />

    <div class="buttons">
        <button type="submit" onclick="setImageVideoFields();"/>Save</button>
    </div>
    </div>
</form>

<!-- The template div used by appendVideo() -->
<div id='new_video'>
    <div class="video">
        <select class="video_select">
            <option selected disabled></option>
            {% for video in data_dict.videos %}
            <option value="{{ video.id }}">{{ video.name }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="deleteVideo(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
    </div>
</div>

<!-- The template div used by appendImage() -->
<div id='new_image'>
    <div class="image">
        <select class="image_select">
            <option selected disabled></option>
            {% for image in data_dict.images %}
            <option value="{{ image.id }}">{{ image.name }}</option>
            {% endfor %}
        </select>
        <a href="#" onclick="deleteImage(this);return false;"><img class="delete" src="{% static 'delete.png' %}" /></a>
    </div>
</div>
{% endblock content %}

{% block footer %}
<script>

    if ( window.FormData === undefined )
        $("#newImage-btn").hide();

    function popImage(url) {
      $.ajax({
        type: "GET",
        url: url,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function(data) {
          $("#image-dialog").html(data).dialog({modal:true}, {title: "New Image"}, {width: 600}, {height: 600}, {draggable: false}).dialog('open');
        }

      });

      return false;
    }


    function popVideo(url) {
      $.ajax({
        type: "GET",
        url: url,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function(data) {
          $("#video-dialog").html(data).dialog({modal:true}, {title: "New Video"}, {width: 600}, {height: 600}, {draggable: false}).dialog('open');
        }
      });

      return false;
    }

   $("#image-dialog").on('submit', function (e) {

    var fd = new FormData(document.forms.namedItem("newImage"));

     e.preventDefault();

     $.ajax({
        type: "POST",
        url: '/entry/stories/new/images/new',
        processData: false,
        contentType: false,
        data: fd,
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function(data)
        {
            if (data.constructor === "test".constructor) {      // checks if the data is a string
                $("#image-dialog").html(data);
                return
            }

            $("#image-dialog").dialog('close');
            var imgName = data.name;
            var imgId = data.id;

            $('#inline_image').append($('<div class="popup_image">')
            .append($('<select disabled class="image_select">')
            .append($("<option>").attr("value", imgId)
            .text(imgName))).append('<a href="#" onclick="deleteImage(this);return false;">\n<img class="delete" src="{% static 'delete.png' %}" /></a>'));

            $( ".image_select" ).append($("<option>").attr("value", imgId).text(imgName));
            $( ".no_image" ).hide();
        }
      });


   });


   $("#video-dialog").on('submit', function (e) {

     e.preventDefault();

     $.ajax({
        type: "POST",
        url: '/entry/stories/new/videos/new',
        data: $("#video-form").serialize(),
        headers: { 'X-CSRFToken': '{{ csrf_token }}' },
        success: function(data)
        {

            if (data.constructor === "test".constructor) {      // checks if the data is a string
                $("#video-dialog").html(data);
                return
            }

            $("#video-dialog").dialog('close');
            var vidName = data.name;
            var vidId = data.id;

            $('#inline_video').append($('<div class="popup_video">')
            .append($('<select disabled class="video_select">')
            .append($("<option>").attr("value", vidId)
            .text(vidName))).append('<a href="#" onclick="deleteVideo(this);return false;">\n<img class="delete" src="{% static 'delete.png' %}" /></a>'));

            $( ".video_select" ).append($("<option>").attr("value", vidId).text(vidName));
            $( ".no_video" ).hide();

        }
      });

   });


    function deleteStory()
    {
        if(confirm('Are you sure you want to delete this story?')) {
            $.ajax({
                type: 'DELETE',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                statusCode: {
                    404: function() {
                        $("#error_tag").text('Unable to delete story!');
                        $("html, body").animate({ scrollTop: 0 }, "slow");
                    },
                    200: function() {
                        window.location.replace('{% with parent_url|last as last %}{{ last.url }}{% endwith %}/?success=true');
                    }
                }
            });
        }
    }
    var image_options = {{ data_json|safe }};
    var video_options = {{ data_json|safe }};

    number_of_images = 0;
    number_of_videos = 0;

    function deleteVideo(element)
    {
        $( element ).parent().css("display", "none");
        if ($( ".video:visible" ).length === 0 && $( ".popup_video:visible" ).length === 0 ) {
            $( ".no_video" ).show();
        };
    }

    function appendVideo()
    {
        $( ".no_video" ).hide();
        var new_html = $('#new_video').html();
        var new_html = new_html.split("$iteration").join(number_of_videos);
        $( ".video_container" ).append( new_html );
        number_of_videos++;
    }

    function deleteImage(element)
    {
        $( element ).parent().css("display", "none");
        if ($( ".image:visible" ).length === 0 && $( ".popup_image:visible" ).length === 0 ) {
            $( ".no_image" ).show();
        };
    }

    function appendImage()
    {
        $( ".no_image" ).hide();
        var new_html = $('#new_image').html();
        var new_html = new_html.split("$iteration").join(number_of_images);
        $( ".image_container" ).append( new_html );
        number_of_images++;
    }
    function setImageVideoFields()
    {
        var image_ids = []
        $( ".image_select:visible" ).each( function( index, element ){
            image_ids.push(this.options[this.selectedIndex].value);
        });

        $('input[name="image_ids"]').val(image_ids);

        var video_ids = []
        $( ".video_select:visible" ).each( function( index, element ){
            video_ids.push(this.options[this.selectedIndex].value);
        });

        $('input[name="video_ids"]').val(video_ids);
    }
</script>
{% endblock footer %}
